OPENROUTER_API_KEY=
GROQ_API_KEY=
SERPAPI_KEY=
JWT_SECRET=asdfghjklqwertyuiopzxcvbnm1234567890
DATABASE_PATH=tutor.db

# Openrouter models
TUTOR_MODEL=minimax/minimax-m2.5:free
TITLE_MODEL=openai/gpt-oss-20b:free
OCR_MODEL=nvidia/nemotron-3-super-120b-a12b:free
DOC_EXTRACTION_MODEL=minimax/minimax-m2.5:free
